@charset "utf-8";


/* ====================
Budget Mobile
==================== */
@font-face {
    font-family: 'digital_dream_fatregular';
    src: url('../fonts/DIGITALDREAMFAT-webfont.eot');
    src: url('../fonts/DIGITALDREAMFAT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DIGITALDREAMFAT-webfont.woff') format('woff'),
         url('../fonts/DIGITALDREAMFAT-webfont.ttf') format('truetype'),
         url('../fonts/DIGITALDREAMFAT-webfont.svg#digital_dream_fatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
  


#budget {
  *, *:before, *:after {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
  }
  
  h1{
    margin-bottom: 40px;
  }
  
  .step-number {
    left: 50%;
    margin: -80px auto 0 -30px;
    position: absolute;
  }

  .containner {
    text-align: center;
  }

  li {
    width: 100%;
    padding: 50px 0 50px 0;
    @include clearfix;
  }

  li:nth-child(odd) { background: $light-grey1; }
  li:nth-child(even) { background: #fff; }
  
  // Custom jquery ui styles
  
  #period{
    .ui-widget-content{
      background: url("../images/clock.jpg");
      border: medium none;
      height: 204px;
      padding: 13px 0 0 19px;
      text-align: left;
      width: 379px;
    }
    #spinner{
      background: url("../images/clockbg.jpg");
      color: #EEFDC4;
      font-family: 'digital_dream_fatregular';
      font-size: 85px;
      height: 125px;
      margin: 13px 10px 10px;
      padding: 19px 16px 16px;
      text-align: left;
      text-shadow: 1px 0 30px #C10D28, 2px 0px 10px #EEFDC4;
      width: 244px;
    }
    .ui-spinner-up{
      background: url("../images/more.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: medium none;
      margin-top: 26px;
      width: 79px;
    }
    
    .ui-spinner-down{
      background: url("../images/less.png")no-repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: medium none;
      margin-top: 26px;
      width: 79px;
    }
  }
  
} // End of budget's page classes


