@charset "utf-8";


/* ====================
Budget Mobile
==================== */


#budget {
  h1{
    margin-bottom: 40px;
  }
  
  .step-number {
    left: 50%;
    margin: -80px auto 0 -30px;
    position: absolute;
  }

  .containner {
    text-align: center;
  }

  li {
    width: 100%;
    padding: 50px 0 50px 0;
    @include clearfix;
  }

  li:nth-child(odd) { background: $light-grey1; }
  li:nth-child(even) { background: #fff; }


}


