@charset "utf-8";


/* ====================
Budget Mobile
==================== */
@font-face {
    font-family: 'digital_dream_fatregular';
    src: url('../fonts/DIGITALDREAMFAT-webfont.eot');
    src: url('../fonts/DIGITALDREAMFAT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DIGITALDREAMFAT-webfont.woff') format('woff'),
         url('../fonts/DIGITALDREAMFAT-webfont.ttf') format('truetype'),
         url('../fonts/DIGITALDREAMFAT-webfont.svg#digital_dream_fatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
  


#budget {
  h1{
    margin-bottom: 40px;
  }
  
  .step-number {
    left: 50%;
    margin: -80px auto 0 -30px;
    position: absolute;
  }

  .containner {
    text-align: center;
  }

  li {
    width: 100%;
    padding: 50px 0 50px 0;
    @include clearfix;
  }

  li:nth-child(odd) { background: $light-grey1; }
  li:nth-child(even) { background: #fff; }
  
  // Custom jquery ui styles
  
  #period{
    .ui-widget-content{
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: medium none;
      height: 120px;
    }
    #spinner{
      background: none repeat scroll 0 0 #000000;
      color: #FFFFFF;
      font-size: 85px;
      height: 89px;
      margin: 0;
      padding: 15px;
      width: 140px;
      font-family: 'digital_dream_fatregular';
    }
    .ui-spinner-up{
      background: red;
    }
  }
  
} // End of budget's page classes


